<h3 align="center">New Translator</h3>

<%= render 'form' %>

<div class="row">
<div class="large-6 large-centered columns">
<p class="field-padding ">
<%= link_to 'Back', translators_path %>
</p>
	</div>
	</div>