<html>
	<head>	
	</head>	
	<body>
	    <div class="row">
	      <div  id="question_create"  class="large-12 columns">
	        <div class="profile-card">
	          <div class="profile-info">
	            <h4 class="subheader">Question</h4>
	            <p>Question Creation</p>
	            	<div id="create_question_div"> 
		            	<%= render 'questions/existingQuestion'%>
		            </div>
		            <div id="display_question_div">
		            	
		            </div>
		            <div id="question_error_message"></div>
	          </div>
	        </div>
	      </div>
	    </div>
	</body>
</html>
