<html>
	<head>
		
	</head>
	
	<body>
			  <!-- this adds Foundation Icon Fonts!! -->
	    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
	    
	    <div class="row">
	      <div  id="question_create"  class="medium-4 columns">
	        <div class="profile-card">
	          <img src="http://zurb.com/ink/images/inky-computer.svg" alt="Inky">
	          <div class="profile-info">
	            <h4 class="subheader">Question</h4>
	            <p>Question Creations</p>
	            	<div id="create_question_div"> 
		            	<%= render 'newQuestion'%>
		            </div>
		            <div id="display_question_div">
		            	
		            </div>
		            <div id="question_error_message"></div>
	          </div>
	        </div>
	      </div>
	      
	      <div medium-4 columns" style="display:none"></div>

	      <div class="medium-4 columns" style="display:none">
          </div>
	    </div>
	</body>
</html>
