	$('#question_error_message').html("");
<% if @save%>
	$('#question_create').css('background-color', '#44e251');
	$('#create_question_div').slideUp(350);
	$('#create_question_div').hide();
	$('#display_question_div').slideDown(350);
	$('#display_question_div').append("Question Creation Success!");
	$("#question_view").html("<%= j render('forms/layout_questionList')%>")
	
	
<%else%>
	$('#question_create').css('background-color', 'red');
	$('#question_error_message').append("<h1>Error empty fields</h1>"); 
	
	
	$('#question_create').css('background-color', 'red');
	$('#question_error_message').html("");
	$('#question_error_message').append("<h2>Submission error</h2>"); 
	<%if @question.QuestionDesc == ""%>	
		$('#question_error_message').append("<p> - Question Description is Blank</p>"); 
	<%end%>

<%end%>
