<p id="notice"><%= notice %></p>

<p>
  <strong>Yeardetails:</strong>
  <%= @yearofstudy.year %>
</p>

<%= link_to 'Edit', edit_yearofstudy_path(@yearofstudy) %> |
<%= link_to 'Back', yearofstudies_path %>
