<p id="notice"><%= notice %></p>

<p>
  <strong>Levelname:</strong>
  <%= @levelofstudy.levelname %>
</p>

<%= link_to 'Edit', edit_levelofstudy_path(@levelofstudy) %> |
<%= link_to 'Back', levelofstudies_path %>
