<h3 align="center">Create a new Advertisement</h3>

<%= render 'form' %>

<div class="row">
<div class="large-6 large-centered columns">
<p class="field-padding ">
<%= link_to 'Cancel', advertisements_path, :class=>"inbox-sf-add-btn tip"%>
</p>
	</div>
	</div>
