<html>
	<head>	
	</head>	
	<body>
	    <div class="row">
	      <div  id="answer_create"  class="large-12 columns">
	        <div class="profile-card">
	          <div class="profile-info">
	            <h4 class="subheader">Answer</h4>
	            <p>Answer Creation</p>
	            	<div id="create_answer_div"> 
		            	<%= render 'answers/newAnswer'%>
		            </div>
		            <div id="display_answer_div">
		            	
		            </div>
		            <div id="answer_error_message"></div>
	          </div>
	        </div>
	      </div>
	    </div>
	</body>
</html>
