
	$('#display_answer_div').html("");
<% if @save%>
	$('#answer_create').css('background-color', '#44e251');
	$('#answer_error_message').html("");
	$('#answer_creation_form')[0].reset();
	$('#display_answer_div').slideDown(350);
	$('#display_answer_div').append("Answer Creation Success!");
	
	$("#question_view").html("<%= j render('forms/layout_questionList')%>");
	
<%else%>
	$('#answer_create').css('background-color', 'red');
	$('#answer_error_message').html("");
	$('#answer_error_message').append("<h2>Submission error</h2>"); 
	<%if @answer.AnswerDesc == ""%>	
		$('#answer_error_message').append("<p> - Answer Description is Blank</p>"); 
	<%end%>
	<%if @SADescBlank%>
		$('#answer_error_message').append("<p> - Sub Question Description is Blank</p>"); 
	<%end%>

<%end%>
