

<% if !@getQuestions.empty?%>
	<% @getQuestions.each do |question| %>
		<div class="row"> 	 
    		<%= link_to answer_creation_forms_path(:question_id => question.id), remote: true do%>
	    		<div id="question_<%= question.id%>" class="col-md-4">
	    			<h3><%= question.QuestionNumber%>.<%= question.QuestionDesc%></h3>
	    		</div>
    		<%end%>
		</div>
	<% end %>
<%end%>
