$('#admin_remove_section').toggle();
$('#admin_display_newSection_error').html("");
$('#remove_completed').html("</h3>Section Removed!<h3>");
	
$('#admin_display_sections_for_edit').html("<%= j render ('layout_display_admin_sections')%>");