<!DOCTYPE html>
<html>
	<head></head>
	<body>
		
		<div>
<header class="header">
  <h1 class="headline">Form  <small>by Nick</small></h1>
  <ul class="header-subnav">
    <li><a href="#">Take Action!</a></li>
    <li><a href="#" class="is-active">Carpe Diem!</a></li>
    <li><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li>
  </ul>
</header>
		
		<h2><%= @selected_section.SectionName%></h2>
		<h3><%= @selected_section.SectionDescription%></h3>
		<div class="container">
			
		 <%= render 'questionShow' , :section_id => @selected_section.id%>
		</div>
		
	will try other stuffs ehre
	</body>
</html>