<!DOCTYPE html>
<html>
	<head></head>
	<body>
		
		
		
		
		<h2><%= @selected_section.SectionName%></h2>
		<h3><%= @selected_section.SectionDescription%></h3>
		<div class="container">
			
		 <%= render 'questionShow' , :section_id => @selected_section.id%>
		</div>
		
	will try other stuffs ehre
	</body>
</html>