<html>
	<head>
		
	</head>
	
	<body>
			  <!-- this adds Foundation Icon Fonts!! -->
	    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
	    <div class="row">
	      <div  id="form_create"  class="large-12 columns">
	        <div class="profile-card">
	          <img src="http://zurb.com/ink/images/inky-computer.svg" alt="Inky">
	          <div class="profile-info">
	            <h4 class="subheader">Form</h4>
	            <p>Create your own new form</p>
	            	<div id="create_form_div"> 
		            	<%= render 'newForm'%>
		            </div>
		            <div id="display_form_div">
		            	
		            </div>
		            <div id="form_error_message"></div>
	          </div>
	        </div>
	      </div>
	      </div>
	      

	    
	    <div class="row" id="section_part">
	    </div>
	    <div class="row" id="question_part" style="background-color:#999999; display:none">
##come back here ltr
	    	<div id="get_sections_for_questions"  class="large-centered">	

    		</div>
    		<div id="display_sections_to_select" class="large-centered">
    			test test
    		</div>
	    		##will be copied
	    		<div id="question_create" class="large-4 columns">
    			</div>
	    </div>
	</body>
</html>
