<html>
	<head>
	</head>
	<body>
		<div class="row">
			<div class="large-centered column">
			<h1>The Survey has been completed.</h1>
			<h2>Thanks for your feedback.</h2>
			</div>
		</div>
	</body>
</html>