
<% if @save%>
	$('#form_create').css('background-color', '#44e251');
	$('#create_form_div').slideUp(350);
	$('#create_form_div').hide();
	$('#form_error_message').hide();
	$('#display_form_div').slideDown(350);
	$('#display_form_div').append("Form Creation Success!");
	
	$('#section_cover_row').show();
	$('#section_part').html("<%= j (render 'createSections')%>");
	$('#form_name_add0').append("'<b><%= @form.FormName%></b>'");
	$('#section_create0').show();
	$('#create_section_div0').html("<%= j (render 'newSection') %>");
	$('#form_error_message').html("");
	$('#question_part').show();
	$('#get_sections_for_questions').show();
	
	
	
	$('#get_sections_for_questions').html("");
	$('#get_sections_for_questions').html("<h1 class='text-center'>Question Creation</h1>");
	$('#get_sections_for_questions').append("<h1 class='text-center'><%= j link_to "Load Sections", section_display_forms_path(:form_id => @form.id), remote: true, :class => "button"%></h1>");

	
	

<%else%>
	$('#form_create').css('background-color', 'red');
	$('#form_error_message').html("");
	$('#form_error_message').append("<h2>Submission error</h2>"); 
	<%if @form.FormName == ""%>	
		$('#form_error_message').append("<p> - Form Name is Blank</p>"); 
	<%end%>
	<%if @form.FormDescription == ""%>
		$('#form_error_message').append("<p> - Form Description is Blank</p>");
	<%end%>
<%end%>
