<div class="row">
	<h1>Available Surveys</h1>
	<%= render('layout_user_view_available_surveys')%>
</div>
<div class="row">
	<h1>Surveys In Progress</h1>
	<%= render('layout_user_view_incomplete_surveys')%>
</div>
