<html>
	<head>
		
	</head>
	<body oncontextmenu="return false;">
		
	<p id="notice">
		<%= notice %>
	</p>
	<header class="header">
	  <h1 class="headline"><%= @formName.FormName%></h1>
	  <ul class="header-subnav">
	<%@sections.each do |section|%>
	<li><%= link_to section.SectionName, user_selected_survey_display_question_forms_path(:section_id => section.id, :question_id => "0", :formanswer_id => @formAnswer.first.id, :form_id => @formName.id), :id => section.id, remote: true%> </li></h1>
	<%end%>  	
	  </ul>
	</header>
	<div class="row expanded">
		<div class="large-10 column">
			<div id="displayQuestion" class="container" style="display:none"></div>
		</div>
		<div class="large-2 column">
			<div id="view_settings" style="display:none"></div>
			<div id="displayFormSettings" class="side_container" style="display:none"></div>
		</div>
	</div>
	</body>
</html>
