<p id="notice">
	<%= notice %>
</p>

<%@sections.each do |section|%>
<h1><%= link_to section.SectionName, form_answer_path(:section_id => section.id, :question_number => section.id) %> </h1>
<%end%>
 
